<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>
alert("hello")
</script>
</body>
</html>

        $.fn.serializeObject = function () {
var ct = this.serializeArray();
var obj = {};
    $.each(ct, function () {
        if (obj[this.name] !== undefined) {
            if (!obj[this.name].push) {
                obj[this.name] = [obj[this.name]];
            }
            obj[this.name].push(this.value || "");
        } else {
            obj[this.name] = this.value || "";
        }
    });
    return obj;
};
    document.getElementById("submit").οnclick=function(){
    var us = $("#form").serializeObject();
    console.log(us)
            alert("world");
         }