{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">

</div>


<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript">
    var a = 1;
    $.ajax({
            type: "Get",
            url: "/tag",
            success: function(data){
            a = data;

            }
        })
</script>

<!--{{ wtf.quick_form(form) }}-->
<form method = 'POST'>

</form>
{% endblock %}
