<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="radio">
        <label>
          <input id="field0-0" name="field0" type="radio" value="0"> domain
        </label>
      </div>
    <div class="radio">
        <label>
          <input id="field0-1" name="field0" type="radio" value="1"> gender
        </label>
      </div>
    <div class="radio">
        <label>
          <input id="field0-2" name="field0" type="radio" value="2"> ageee
        </label>
      </div>
    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit" onclick=alert("hello")>
</body>
</html>